[MESSAGES CONTROL]
# Disable specific messages by their code
disable=
    C0303,  # Trailing whitespace
    C0114,  # Missing module docstring
    C0115,  # Missing class docstring
    C0116,  # Missing function or method docstring
    W0621,
    W0404,
    C0415,
    W0611